{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
    <div class="container">
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Post News</h1>
        <form method="POST" action="{% url 'post_create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Text</label>
                <textarea class="form-control" id="text" name="text" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Atach File if nedeed</label>
                <input type="file" class="form-control" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-2"></div>
   </div>
    </div>
{% endblock %}
